<div>
  <h1>
    People
  </h1>
  <button (click)="initList(100)"> Generate 100 </button>
  <button (click)="initList(1000)"> Generate 1000 </button>
  <button (click)="initList(10000)"> Generate 10000 </button>
  <button (click)="clear()"> Clear </button>
  <button (click)="append(1000)"> Append 1000 </button>
  <button (click)="append(10000)"> Append 10000 </button>
  <button (click)="put(1000)"> Put 1000 </button>
  <button (click)="put(10000)"> Put 10000 </button>
  <button (click)="update()"> Update </button>
  <button (click)="add(10)"> Add every 10 </button>
  <button (click)="add(100)"> Add every 100 </button>

  <table>
    <thead>
      <tr>
        <th> ID </th>
        <th> First Name <span (click)="sort()"> sort </span></th>
        <th> Last Name </th>
        <th> Birthdate </th>
        <th> Remove </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people; trackBy:objectId">
        <td> {{ person.id }} </td>
        <td> {{ person.firstname }} </td>
        <td> {{ person.lastname }} </td>
        <td> {{ person.birthdate.toLocaleDateString() }} </td>
        <td (click)="remove(person)"> X </td>
      </tr>
    </tbody>
  </table>
</div>